<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="public/css/inicial.css">
</head>

<body onload="iniciarBanco()">
  <div class="container">
    <div class="sidebar">
      <div class="profile">
        <img src="/public/assets/corra.png" alt="User Icon" />
        <h3>Administrador</h3>
      </div>
      <ul>
        <li><i class="fa fa-list"></i><a href="#">Lista</a></li>
        <li id="abrirModalBtn"><i class="fa fa-address-book"></i><a href="#">Cadastrar</a></li>
      </ul>
    </div>
    <div class="content">
      <!-- Conteúdo aqui -->
      <h1>Sistema de Gerenciamento de Usuários</h1>
      <div class="table-container">
        <table id="tabelaAssistidos">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Idade</th>
              <th>Sexo</th>
              <th>Id. Gênero</th>
              <th>Raça/Cor</th>
              <th>Território</th>
              <th>CAD-ÚNICO</th>
            </tr>
          </thead>
          <tbody id="corpoTabelaAssistidos">
            <!-- As linhas serão adicionadas aqui dinamicamente -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div id="meuModal" class="modal">
  <div class="modal-content">
    <span class="fechar">&times;</span>
    <h2>Adicionar Assistido</h2>
    <form id="formAssistido">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" name="nome" required>

      <label for="idade">Idade:</label>
      <input type="number" id="idade" name="idade" required>

      <label for="sexo">Sexo:</label>
      <input type="text" id="sexo" name="sexo" required>

      <label for="idGenero">Id. Gênero:</label>
      <input type="text" id="idGenero" name="idGenero" required>

      <label for="racaCor">Raça/Cor:</label>
      <input type="text" id="racaCor" name="racaCor" required>

      <label for="territorio">Território:</label>
      <input type="text" id="territorio" name="territorio" required>

      <label for="cadUnico">CAD-ÚNICO:</label>
      <input type="text" id="cadUnico" name="cadUnico" required>

      <input type="submit" value="Adicionar">
    </form>
  </div>
</div>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
  <script src="public/script/inicialadmin.js"></script>
</body>

</html>